.home-body{
  background-image:url(../images/charts.jpeg);
 margin:0px;
}

.name-app{
    color:$white;
    text-align:center;  
}

.login{    
    .title{
        text-align:center;
        font-size:24px;
    }

    .panel-body{
     
        form{
            padding: 15px 10px;
            .button{
                margin-top:20px;
            }
        }
    }
}


.view-title{
    margin-top:80px;
    color:$gray;
}

.table-data{
    background:$white;
    padding:3px; 
}

.icon-account{
    width:20%;
   
}

.tr-accounts{
    td{
        cursor:pointer;
    }
    &:hover{
        opacity:0.8;
    }
}

i{
    cursor:pointer;
}

.transactions-table{
    background:#eeeeee;
}