<div>
    <h1 class="view-title">Accounts</h1>
    <div class="table-data">
         <table class="table">
             <thead>
                 <tr>
                    <th>Account</th>
                    <th>currency</th>
                    <th>Name</th>     
                    <th>Balance</th>  
                 </tr>                
             </thead>
             <tbody>
                 <tr ng-repeat="account in accounts.accounts">
                    <td>{{account.account_id}}</td>
                    <td>{{account.currency}}</td>
                    <td>{{account.name}}</td>
                    <td>{{account.balance.balance}}</td>                
                 </tr>
                 
             </tbody>
         </table>
         <div ui-grid="{data:accounts.accounts}" class="grid"></div>
        </div>
       {{accounts}}
    </div>
</div>