<div>
    <h1 class="view-title">Accounts</h1>
    <div class="table-data">
         <table class="table table-striped table-bordered">
             <thead>
                 <tr>
                    <th>                        
                        Account
                        <i class="glyphicon glyphicon-chevron-up" ng-click="orderBy('account_id')"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-click="orderBy('-account_id')"></i>
                    </th>
                      <th>                        
                        Name
                        <i class="glyphicon glyphicon-chevron-up" ng-click="orderBy('name')"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-click="orderBy('-name')"></i>
                     </th> 
                    <th>                       
                        currency
                         <i class="glyphicon glyphicon-chevron-up" ng-click="orderBy('currency')"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-click="orderBy('-currency')"></i>
                        </th>                      
                    <th>                        
                        Balance
                        <i class="glyphicon glyphicon-chevron-up" ng-click="orderBy('balance.balance')"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-click="orderBy('-balance.balance')"></i>
                    </th> 
                    <th>
                        Icon
                    </th>
                 </tr>                
             </thead>
             <tbody>                 
               <tr ng-repeat="account in accounts | orderBy:orderSelected" class="tr-accounts">                   
                     <td ng-click="goTransactions(account.account_id)" style="cursor:pointer">{{account.account_id}}</td>             
                     <td ng-click="goTransactions(account.account_id)">{{account.name}}</td>
                     <td ng-click="goTransactions(account.account_id)">{{account.currency}}</td>
                     <td ng-click="goTransactions(account.account_id)">{{account.balance.balance}}</td>   
                     <td ng-click="goTransactions(account.account_id)"><img ng-src="{{account.icon}}" class="icon-account"/></td> 
                 </tr>                 
             </tbody>
         </table>         
         <!--<div ui-grid="{data:accounts.accounts}" class="grid"></div>-->
        </div>   
        <div ng-show="transactions.transactions.length>0">
            
             <h1 class="view-title">{{transactions.transactions[0].account_id}}</h1>
             <table class="table table-striped table-bordered transactions-table">
                 <thead>
                     <tr>
                         <th>Type</th>
                         <th>Value Date</th>
                         <th>Currency</th>    
                         <th>Amount</th>                      
                     </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="transaction in transactions.transactions|limitTo:10">
                         <td>{{transaction.type}}</td>
                         <td>{{transaction.value_date}}</td>
                         <td>{{transaction.currency}}</td>
                         <td>{{transaction.amount}}</td>
                     </tr>
                 </tbody>
             </table>
         </div>   
    </div>
</div>